.hero {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.header {
  background-color:  #0433ff;
  position: fixed;
  width: 100%;
  padding: 40px;
}

.carrinho {

  background: none;
  border: none;
  color:#FFFFFF;
  font-size: xx-large;

}



.logoName {

  margin: 0; 
  font-size: 2.5rem; 
  font-family: "Roboto", sans-serif;
  color: white; 
  letter-spacing: 2px; 
  text-transform: uppercase; 


}