.SearchBar {

    display: flex;
    width: 90%;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px;
    z-index: 0;
    position: relative;
    max-width: 700px;
  }
  
  .inputSearchBar {
  
    outline: none;
    width: 90%;
    background: none;
    border: none;
    padding: 11px 0px 11px 16px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  
  }

  .submissionButton {

    width: 40px;
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #0433ff;
    font-size: larger;
    background: none;
    border: none;
  
  }